div#menu{
    width: 100px;
    background-color: RGBa(255,255,255,0.5);
    margin: auto;
    font-size: 13.5px;
    font-weight: bold;

}

div#menu ul{
    padding: 0;
    width: 100px;
    border: 1px solid;
    margin: 0px;
}

div#menu ul li{
    position: relative;
    list-style: none;
    border-bottom: 1px solid;
}

div#menu ul ul{
    position: absolute;
    top: 0;
    left: 100px;
    display: none;
}

div#menu li a{
    text-decoration: none;
}

div#menu ul.niveau1 li.sousmenu:hover ul.niveau2,   div#menu ul.niveau2 li.sousmenu:hover ul.niveau3{
    display: block;
    background-color: RGBa(255,255,255,0.93);
}

div#menu a{
    color: #000;
}

div#menu li:hover{
    background: #EDD;
}
 
div#menu li.sousmenu:hover{background: 
    #EBB;}

div#menu li a{
    text-decoration: none;
    padding: 4px 0px 4px 8px;
    display: block;
    border-left: 8px solid #BBB; width: 84px;
}
div#menu li a:hover{border-left-color: red;}
div#menu ul ul li a:hover{border-left-color: #00FF00;}
div#menu ul ul ul li a:hover{border-left-color: #0000FF;}

header{
    background-color:lightpink;
    text-align: center;
    border-radius: 5px;
    border: solid 3px;
    clear: both;
}
.case_menu{
    float: left;
    padding: 20px;
    background-color: lightblue;
    border: solid 3px;
    text-align: center;
    width: 15%;
    margin: 10px;
    height: 40vh;
}
.Accueuil{
    background-color:lightgreen;
    text-align: center;
    border-radius: 5px;
    border: solid 3px;
    float: right;
    width: 75%;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 40vh;
    
}

footer{
    clear: both;
    background-color:lightgrey;
    border-radius: 5px;
    border: solid 3px;
    text-align: center;
    padding: 15px;

}

.Accueuil > p {
    width: 70%;
    border: solid 2px ;

}
img {

    padding: 10px;
    height: 30%;
    width: 30%;
    
}

.para{
    background-color: green;
    color: rgb(159, 212, 159);
    width: 60%;
    float: left;
    border: solid 2px;
    padding: 15px;
    font-weight: bold;
}
.test{
    display: flex;
    justify-content: space-around;
}

span, label{
    text-decoration: underline; 

}